
<div class="header">
    <div class="headerPartOne">
        <div class="tags"><img src="/assets/images/logo.svg" alt="logo"></div>

        <div class="subTags">
            <div class="tags"><img src="/assets/images/dashboard.svg" alt="dashboard"></div><div>Dashboard</div>
        </div>

        <div class="subTags">
            <div class="tags"><img src="/assets/images/projects.svg" alt="Projects"></div><div>Projects</div>
        </div>

        <div class="subTags">
            <div class="tags"><img src="/assets/images/schedules.svg" alt="Schedules"></div><div>Schedule</div>
        </div>

        <div class="subTags">
            <div class="tags"><img src="/assets/images/settings.svg" alt="Settings"></div><div>Settings</div>
        </div>

        <div class="subTags">
            <div class="tags"><img src="/assets/images/knowledge.svg" alt="knowledge"></div><div>knowledge hub</div>
        </div>
    </div>
    <div class="headerPartTwo">
        <div class="subTags">
            <div class="tags"><img src="/assets/images/search.svg" alt="search"></div>
        </div>

        <div class="subTags">
            <div class="tags"><img src="/assets/images/notification.svg" alt="notification"></div>
        </div>

        <div class="subTags">
            <div class="tags"><img src="/assets/images/header-img.svg" alt="knowledge"></div>
        </div>

        <div class="subTags">
            <div class="tags"><img src="/assets/images/menu.svg" alt="menu"></div>
        </div>
    </div>


</div>
